@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
    --primary: 231 69% 60%;
    --primary-dark: 243 88% 33%;
    --accent: 329 79% 55%;
    --muted: 196 94% 62%;
    --text-primary: 0 0% 9%;
    --text-secondary: 0 0% 27%;
  }

  .dark {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
    --primary: 231 69% 60%;
    --primary-dark: 243 88% 33%;
    --accent: 329 79% 55%;
    --muted: 196 94% 62%;
    --text-primary: 0 0% 93%;
    --text-secondary: 0 0% 73%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-text-primary font-bold;
  }

  p {
    @apply text-text-secondary mb-4;
  }
}